.infotab{
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    width: 80%;
    gap: 10%;
    justify-content: space-evenly;
    margin: auto;
    background-color: white;
    margin-top: -20px;
    height: 15vh;
    align-items: center;

}

.infotabEl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    
}

.pEl{
    color: gray;
}